<!DOCTYPE html>
<!-- saved from url=(0032)http://ceshi.kanwokanwo.com/niit -->
<html lang="en" class=" js no-touch"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>INSTITUT VOKASIONAL INDUSTRI TEKNOLOGI NANJING | KanwoKanwo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="./niit_files/public.css">
    <link rel="stylesheet" type="text/css" href="./niit_files/frame.css">
    <link rel="stylesheet" type="text/css" href="./niit_files/jquery-rebox.css">
    <link rel="stylesheet" type="text/css" href="./niit_files/video-js.css">
    <link rel="stylesheet" type="text/css" href="./niit_files/school.css">
</head>
<body class="china">
<style type="text/css">
    .line {
        margin-bottom: 20px;
    }

    /* 复制提示 */
    .copy-tips {
        position: fixed;
        z-index: 99999;
        bottom: 50%;
        left: 50%;
        margin: 0 0 -20px -80px;
        background-color: rgba(0, 0, 0, 0.2);
        filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#30000000, endColorstr=#30000000);
        padding: 6px;
    }

    .copy-tips-wrap {
        padding: 10px 20px;
        text-align: center;
        border: 1px solid #F4D9A6;
        background-color: #FFFDEE;
        font-size: 14px;
    }

    .login_sf {
        float: right;
        position: relative;
        margin-top: 2%;
    }

    .icon_wb {
        background: url(/images/wbqq.png) no-repeat left top;
        width: 53px;
        height: 54px;
    }

    .icon_qq {
        background: url(/images/wbqq.png) no-repeat -73px top;
        width: 53px;
        height: 54px;
        margin-left: 20px;
    }

    .icon_weixin {
        background: url(/images/wbqq.png) no-repeat right top;
        width: 53px;
        height: 54px;
        margin-left: 20px;
    }

    .login_sf a {
        display: inline-block;
    }

    .login_title {
        width: 100%;
        text-align: center;
        margin-bottom: 1%;
        font-size: 16px;
    }

    /*新版菜单栏 2016.4.25*/
    .show-for-large-menu a {
        display: inline-block;
        width: 130px;
        height: 75px;
        line-height: 25px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        padding-top: 15px;
    }

    .show-for-large-menu a:hover, .show-for-large-menu a.active {
        border-bottom: 2px solid #1bb38c;
        font-weight: bold;
    }

    @media screen and (max-width: 1300px) {
        .navbar-brand {
            /*margin-right: 140px;*/
        }
    }

    .show-for-small-menu {
        display: none;
    }
    .show-for-large-menu{
        display: inline-block;      /*原因是导航栏右侧主页按钮布局错位*/
        /*display: block;*/
    }

    /*959宽隐藏student和school显示三道杠 large-menu隐藏 small-menu显示*/
    @media (max-width: 959px) {
        .not-login {
            display: none;
        }

        .nav-center {
            display: block !important;
        }

        .show-for-large-menu {
            display: none;
        }

        /*.show-for-small-menu {*/
        /*float: right;*/
        /*display: block;*/
        /*width: 80px;*/
        /*max-width:959px;*/
        /*height: 100%;*/
        /*position: relative;*/
        /*background: #1bb38c;*/
        /*text-align: center;*/
        /*}*/

        .show-for-small-menu {
            width: 100%;
            max-width:959px;
            height: 100%;
            position: absolute;
            top:0;
            left:0;
            background: #1bb38c;
            text-align: center;
            display: none;
        }

        .click-dropdown a {
            display: inline-block;
            font-size: 30px;
            color: #fff;
        }

        .click-show {
            position: absolute;
            right: 0;
            top: 100%;
            display: none;
        }

        .click-show a {
            display: block;
            width: 130px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            color: #fff;
            background: #2f312e;
        }

        .click-show a.active {
            background: #1bb38c;
        }
    }

    @media screen and (max-width: 1300px) {
        .navbar-search-input {
            width: 130px !important;
        }

        .show-for-large-menu a {
            width: 90px;
        }
        .navbar-section > li{
            width: 106px;
        }

    }

    @media screen and (max-width: 1100px) {
        .show-for-large-menu a {
            width: 80px;
            font-size: 13px;
        }
        .navbar-section > li{
            width: 110px;
        }
        .navbar-section > li span{
            font-size: 13px;
        }

    }

    @media (max-width: 1089px) {
        .navbar-search-input {
            width: 70px !important;
            font-size: 12px;
        }
        .navbar-section > li{
            width: 100px
        }
        .navbar-section > li span{
            font-size: 12px;
        }
    }

    @media ( max-width: 593px) {
        .navbar-search-input {
            width: 130px !important;
        }
    }

    @media ( max-width: 539px) {
        .navbar-search-input {
            width: 100px !important;
        }
    }

    @media ( max-width: 520px) {
        .navbar-search-input {
            width: 56px !important;
        }
        .navbar-section li{
            width:60px;
        }
        .subnav-avatar-down{
            width:90px;
        }

    }

    @media ( max-width: 400px) {
        .navbar-search-input {
            width: 22px !important;
        }
        .nav-center{
            margin-left: 10px;
        }
        .navbar-section{
            margin-right: 10px;
        }
        .navbar-section li{
            width:40px;
        }
        .subnav-avatar-down{
            width:90px;
        }
    }

    @media ( max-width: 330px) {
        .navbar-search-input {
            width: 8px !important;
        }
        .navbar-brand {
            margin-right: 0px;
        }
    }

    select#adregisterSchoolCountry {
        width: 50%;
        height: 40px;
    }
   /* 清除导航文字下划线*/
    .show-for-large-menu a{
        text-decoration: none;
    }
</style>
<div class="md-overlay"></div>

<script src="./niit_files/jquery-2.2.1.min.js"></script>
<script src="./niit_files/jquery.zclip.js"></script>
<script src="./niit_files/modalEffects_jquery.js"></script>
<script src="./niit_files/underscore-min.js"></script>
<script type="text/javascript" src="./niit_files/jquery.jcshare.js"></script>
<script type="text/javascript" src="./niit_files/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="./niit_files/top.js"></script>
<script>
   /* $(function () {
        $(window).resize(function(){
            var clintW=$(window).width()；
            if(clintW<1650){
                $('.nav-center').css('marginLeft','2px');
                $('.navbar ul').css('marginRight','2px');
            }else {
                $('.nav-center').css('marginLeft','50px');
                $('.navbar ul').css('marginRight','50px');
            }
        })
    })*/
 /*解决高亮显示bug*/
   function addLine(pageText,firstpage,pageId) {
       var URLText=window.location.href;
       if(URLText.indexOf(pageText)>-1) {
           $(firstpage).css("border-bottom", "none");
           $(pageId).css("border-bottom", "2px solid #1bb38c");
           $(firstpage).hover(function () {
               $(firstpage).css("border-bottom", "2px solid #1bb38c");
           }, function () {
               $(firstpage).css("border-bottom", "none");
           })
       }
   }
   addLine("specialization","#student-Page","#slist");
   addLine("userItem","#student-Page","#slist");
   addLine("myReservation","#student-Page","#slist");
   addLine("profile","#student-Page","#partners");

</script>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class='active' style="float:left">
          <a style="color:white" href="<%= root_path %>">Cina</a>
          <span style="color:white"> |</span>
        </li>
      <li class='' style="float:left">
          <a style="color:white" href="<%= root_path %>?localize=en">Bahasa Inggeris</a>
          <span style="color:white"> |</span>
      </li>
      <li class='' style="float:left">
          <a style="color:white;display:inline" href="<%= root_path %>?localize=indonesia">Bahasa Indonesia</a>
          <span style="color:white"> |</span>
      </li>
      <li class='' style="float:left">
          <a style="color:white;display:inline" href="<%= root_path %>?localize=malaysia">Malay</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="container-fluid main clearfix">
  <div class="bg_pic">
    <div class="black_box"></div>
    <img src="./img/10.jpeg" data-modal="modal-schoolbgimg">
    <div id="schoolNameAndRank">
      <div class="school-avatar" id="myAvatarParent">
        <img src="./img/logo_en.png" id="avatarSrc">
      </div>
      <a href="javascript:;" class="school_name">INSTITUT VOKASIONAL INDUSTRI TEKNOLOGI NANJING</a>
    </div>
  </div>
  <div class="row content">
    <div class="col-lg-3 col-sm-12 sidebar">
      <div id="biography" class="introduce cu-no">
        <ul>
          <li><strong>Kedududukan Kolej Vokasional  dalam Peringkat Kebangsaan:</strong><span>4</span></li>
          <li><strong>Alamat:</strong><span>North Yangshan Road,Qixia District,Nanjing,Jiangsu Province,210023</span></li>
          <li><strong>Website:</strong><span>
              <a class="biography-a" target="_blank" href="http://english.niit.edu.cn/"><em>http://english.niit.edu.cn/</em></a>
          </span></li>
          <li><strong>No Telefon:</strong><span>+86-25-85864052</span></li>
          <li><strong>Email:</strong><span>
              <a class="biography-a" href="mailto:lisa@niit.edu.cn"><em>isa@niit.edu.cn</em></a>
          </span></li>
          <li><strong>Peringkat Sekolah:</strong><span> Diploma dan Sarjana Muda</span></li>
          <li><strong>Negeri:</strong><span>Wilayah Nanjing, Daerah Jiangsu</span></li>
          <li><strong>Tahun Sekolah Didirikan:</strong><span>1918</span></li>
          <li><strong>Bilangan Pelajar Baru:</strong><span>1100</span></li>
          <li><strong>Keluasan Sekolah:</strong><span>224 hektar</span></li>
          <li><strong>Bilangan pelajar dalam satu kelas:</strong><span>20</span></li>
          <li><strong>Latar Belakang Pendidikan Pengajar:</strong><span>Master degree dan lebih tinggi: 76.5%</span></li>
          <li><strong>Ratio Guru:Pelajar:</strong><span>1:20</span></li>
          <li><strong>Yuran embelajaran:</strong><span>8000RMB</span></li>
          <li><strong>Yuran Penginapan:</strong><span>2000RMB</span></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-9  main_content">
      <ul class="navbar_is">
        <li class="school_btn tab-show" id="school_btn" style="width:100%">
          <a href="files/南京工业职业技术学院外籍学生申请表20170504.pdf" id="school_word">APPLY</a>
        </li>
      </ul>
      <div id="informationPage" class="information_page" style="display: none;">
        <div class="view-information-page-form clearfix" style="width: 100%;margin-left: 10%;margin-top: 10%;"></div>
        <ul class="information_record" id="informationList">

        </ul>

      </div>
      <!-- myschool -->
      <div id="infomationSchoolPage" class="school_page hide" style="display: block;">
        <div class="content-container col-lg-9 col-md-9 col-xs-12">
          <div class="my-story-container">
            <div class="row">
              <div class="clearfix">
                <div class="col-lg-12 col-xs-12">
                  <h1>VIDEOS</h1>
                </div>
                <section class="col-xs-12">
                  <p class="text-center">Introduction</p>
                  <center><img class="img-responsive" src="img/niit_en_logo.png"><br></center>
                  <center><img class="img-responsive" src="img/ncee_logo.jpg"><br></center>
                  <div class="media-item flex-video myVideoMedia text-center">

                    <video class="video-js vjs-default-skin" controls="" preload="/img/video_1.png" data-setup="{}">
                      <source src="./videos/1.mp4" type="video/mp4">
                    </video>
                  </div>

                </section>
                <section class="col-xs-12">
                  <p class="text-center">International Education</p>
                  <div class="media-item flex-video myVideoMedia text-center">

                    <video class="video-js vjs-default-skin" controls="" preload="/img/video_2.png" data-setup="{}">
                      <source src="./videos/2.mp4" type="video/mp4">
                    </video>
                  </div>

                </section>
                <section class="col-xs-12">
                  <p class="text-center">Recruit</p>

                  <div class="media-item flex-video myVideoMedia text-center">

                    <video class="video-js vjs-default-skin" controls="" preload="/img/video_3.png" data-setup="{}">
                      <source src="./videos/3.mp4" type="video/mp4">
                    </video>
                  </div>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="clearfix">
                <div class="col-lg-12 col-xs-12">
                  <h1>KEISTIMEWAAN SEKOLAH</h1>
                </div>
              </div>
              <div class="columns-info">
                <div class="bg-gray">
                  <div class="clearfix myschoolMedia media-item relative-position" data-module="MYSCHOOL">
                    <div class="description"><div>
                        <div class="col-lg-12 col-xs-12 disabled"><div class="media-item-description"><p>
                          Nanjing Vocational Institute of Industry Technology (singkatan “NIIT”)telah didirikan pada tahun 1918oleh Encik Huang Yanpei. Beliau merupakan seorang ahli revolusi moden, ahli komuniti masyarakat dan pendidik moden China yang terkenal. Sebelumini,  NIIT dikenali sebagai Sekolah Vokasional Zhong Hua yang terletak di Shanghai.  <br>
                          <br>NIIT merupakan institut “vokasional” pertama dalam sejarah pendidikan moden China. NIIT telah mendidikramai orang ternama seperti Zhang Wentian, Hua Luogeng, Zou Taofen, Jiang Zhuyun, Gu Xinyi, Zhu Senlin, Qin Yi, Xu Boxin, Wang Shijidan beratus ribu lagi pakar dalam bidang pembinaan dan pengurusan.<br><br>
                              <img class="img-responsive" src="img/6.png"><br>
Nanjing Vocational Institute of Industry Technology terdiri daripada 9 fakulti, 3 jabatan dan satu pusat latihan, iaitu Fakulti Kejuruteraan Mekanikal, Fakulti Kejuruteraan Elektrik, Fakulti Kejuruteraan Aeronautik, Fakulti Kejuruteraan Pengangkutan, Fakulti Sains Komputer dan Software, Fakulti Pengurusan Ekonomi, Fakulti Perdagangan dan Keusahawanan, Fakulti Seni dan Rekabentuk, Fakulti Pendidikan Antarabangsa, Jabatan Bidang Asas Awam (Department of Public Basic Courses), Jabatan Sains Sosial, Jabatan Pendidikan Jasmani dan Pusat LatihanTeknikal Kejuruteraan.<br><br>
                              <img class="img-responsive" src="img/7.jpg"><br>
                            NIIT menawarkan 17 jurusan dan 51 program, dua antaranya adalah Vokasional Nasional dan Sumber DataProjek Pendidikan Profesional(National Vocational and Professional Education Resource Database Projects), 32 merupakan Modal Nasional Lembaga Vokasional dan Lembaga Reformasi Kementerian Pendidikan. <br><br>


                            Tambahan pula, NIIT telah diiktiraf untuk menjalankan “13th Five Year Plan Integrative Development and Planning program”, iaitu Pelan Pertumbuhan dan Perancangan Integrasi sepanjang lima tahun. NIIT juga diiktiraf untuk menjalankan dua program pengajian tinggi di Daerah Jiangsu, iaitu Program Latihan Teknik dan Kemajuan Integrasi. NIIT juga telah memiliki hampir dua ratus makmal latihan teknikal, termasuk tiga profesional kebangsaan dan latihan vokasional untuk pengajian tinggi.<br><br>
                              <img class="img-responsive" src="img/e3.jpg"><br>
                            NIIT telah menerapkan semangat inovasi dan keusahawanan dalam budaya hidup kampus melalui moto NIIT, iaitu “hormati kerja anda dan rakan kerja anda”. NIIT menitik-beratkan semangat pembelajaran dan menerapkan budaya yang menggalakkan tradisi turun-menurun, penggunaan teknologi terkini yang maju dan mewarisibudaya tersendiri sekolah.  <br><br>


                              <img class="img-responsive" src="img/e4.jpg"><br>
                              Pada bulan Disember tahun 2016, Alison Price dan Lisa McMullan, pengasas utama Program Inovasi dan Keusahawanan di Entrepreneurship in Education (NCEE) telah mengunjungi NIIT dan menganjurkan bengkel pertama Pedagogi dan Pembangunan Kurikulum. <br><br>

                              Bengkel ini membantu para pendidik NIIT untuk lebih memahami apakah program Inovasi dan Keusahawan dan bagaimana cara pelaksanaan program ini, serta cara penilaian program ini. Para pendidik kami kini mempunyai visi baru dalam penerapan nilai inovasi dan keusahawanan dalam diri pelajar melalui cara pengajaran yang inovatif dan menerapkan konsep keusahawanan dalam teras pendidikan keusahawanan.<br><br>
                              <img class="img-responsive" src="img/ncee_logo.jpg"><br>

                        </p></div></div>
                    </div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="clearfix">
                <div class="col-lg-12 col-xs-12">
                  <h1>KERJASAMA ANTARABANGSA</h1>
                </div>
              </div>
              <div class="columns-info">
                <div class="bg-gray">
                  <div class="clearfix myschoolMedia media-item relative-position" data-module="MYSCHOOL">
                    <div class="description"><div>
                        <div class="col-lg-12 col-xs-12 disabled"><div class="media-item-description"><p>NIIT kini mempunyai kerjasama bersama kampus universiti di Britain dan Kanada yang menawarkan 8 program, termasuk Penghasilan Mekanikal dan Automasi, Teknologi Aplikasi Elektronik, Aplikasi Sains Komputer, Teknologi Informasi Business, Perdagangan Antarabangsa, Pengurusan Hotel dan Pelancongan, Filem dan Animasi. <br><br>
                            NIIT juga mempunyai kerjasama bersama universiti di Amerika dan Kanada bagi 5 program sarjana muda, termasuklah Penghasilan Mekanikal dan Automasi, Teknologi Automasi Elektrik, Bahasa Inggeris Business, Teknologi Integrasi Elektro-mekanikal, dan Teknologi Multimedia. <br><br>
                            Semua program di atas telah menerima pengiktirafan daripada Kementerian Pelajaran China dan NIIT kini merupakan salah satu intitusi pengajian tinggi yang paling aktif di China dari segi kerjasama antarabangsa.<br><br>
                              <img class="img-responsive" src="img/16.jpeg"><br>
                              <img class="img-responsive" src="img/14.jpeg"><br>
                        </p></div></div>
                    </div></div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="clearfix">
                <div class="col-lg-12 col-xs-12">
                  <h1>PENCAPAIAN SEKOLAH</h1>
                </div>
              </div>
              <div class="columns-info">
                <div class="bg-gray">
                  <div class="clearfix myschoolMedia media-item relative-position" data-module="MYSCHOOL">
                    <div class="description"><div>
                        <div class="col-lg-12 col-xs-12 disabled"><div class="media-item-description">
                          <p>
                      Pada Oktober 2016, laman sesawang kampus telah memaparkan pencapaian NIIT. NIIT telah dinobatkan sebagai:<br>
                      •	May Fourth Red-banner Youth League of Nation<br>
                      •	Nationwide Innovative Educational Base of Vocational Colleges<br>
                      •	Nationwide Technology Entrepreneurship Training Base of College Students<br>
                      •	Kolej Vokasional paling cantik pada tahun 2011 di China (Nationwide Most Attractive Vocational College in 2011)<br>
                      •	Kampus paling harmoni di Daerah Jiangsu (Most Harmonious Campus in Jiangsu Province)<br>
                      •	Kampus paling selamat di Jiangsu pada tahun 2011 (Safest Campus in Jiangsu in 2011)dan banyak lagi.<br>
                      <br>

        NIIT juga diiktiraf sebagai:<br>
        •	Pendidikan Psikologi secara kolektif yang maju pada peringkat kebangsaan (Nationwide Advanced Collective of Psychological Health Education)<br>
•	Pendidikan dan Pengkajian Fikiran Politik secara kolektif yang maju di Daerah Jiangsu (Advanced Collective of Political Thought Education & Research in Jiangsu Province)<br>
•	Advanced Basic-level Party Organization of Jiangsu Province<br>
•	Pendidikan Pertahanan Kebangsaan yang pertama di Daerah Jiangsu (First Batch in Jiangsu Prov. of National Defense Education)<br>
•	Unit Pemuda Sivil di Daerah Jiangsu (Youth Civilization Unit of Jiangsu Province)<br>
•	Civilized Apartment in Jiangsu Province dan banyak lagi.<br>

                              <img class="img-responsive" src="img/15.png"><br>
                        </p></div></div>
                    </div></div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="clearfix">
                <div class="col-lg-12 col-xs-12">
                  <h1>FAKULTI DAN BIDANG</h1>
                </div>
              </div>
              <div class="columns-info">
                <div class="bg-gray">
                  <div class="clearfix myschoolMedia media-item relative-position" data-module="MYSCHOOL">
                    <div class="description"><div>
                        <div class="col-lg-12 col-xs-12 disabled"><div class="media-item-description">
                            <div class="text-center">FAKULTI UTAMA</div>
                            <p>
Ministry-level Education Reform Pilot Specialty:<br>
◇ Mechanical and Electrical Integration Technology<br>
◇ Electrical Engineering and Automation<br>
◇ Numerical Control Machining Technology<br>
◇ Vehicle Inspection and Maintenance<br>
 <br>

Province-level Brand Specialty :<br>
◇ Mechanical and Electrical Integration Technology<br>
◇ Electrical Automation Technology<br>
◇ Building Intellectual Technology<br>
◇ Information and Network Technology<br>
◇ Business English<br>
◇ Applied Electronic Technology<br>
◇ International Trade Practice<br>
◇ Numerical Control Technology<br>
 <br>
College-level Brand Specialty (key specialty included):<br>
◇ Marketing<br>
◇ Manufacturing Process Automation<br>
◇ Modern Illumination Technology<br>
◇ Telecommunication Technology<br>
◇ Electronic Information Engineering Technology<br>
◇ Tourism Management<br>
◇ Logistics Management<br>
◇ Accountancy<br>
◇ Real Estate Operation and Evaluation<br>
◇ Vehicle Inspection and Maintenance<br>
◇ Machine Manufacturing and Automation<br>
◇ Mold Design and Manufacturing<br>
◇ Software Technology<br>
◇ Computer Multimedia Technology<br>
◇ Environmental Art and Design<br>
◇ Animation Design and Production<br>
◇ Visual Communication Design<br>
<br></p>
<div class="text-center">KURSUS UTAMA</div>
<p>
   National level Fey Courses:<br>
◇ Fundamental of Electrical Technology<br>
◇ Fundamental of Machine Design<br>
 <br>

Province-level Key Courses:<br>
◇ Advanced Mathematics<br>
◇ Documents Business of Foreign Trade<br>
◇ Automatic Machine and Automatic Line<br>
 <br>


College-level Key Courses:<br>
◇ The Application Technology of Single-chip<br>
◇ Fundamental of Accounting<br>
◇ College Chinese Language and Literature<br>
◇ Fundamental of Electrical Technology II<br>
◇ Electronic Control and the Application Technology of PLC<br>
◇ Weak Current Engineering Technology<br>
◇ Power Electronics and Automatic Speed Regulating System<br>
◇ Fundamental of Electrical Technology I<br>
◇ Electronic Drawing and CAD<br>
◇ Electronic Products Manufacturing Process<br>
◇ High-frequency Electronic Technology<br>
◇ Power Supply and Distribution Technology<br>
◇ Practice on Communication Devices<br>
◇ Building Intellectual Technology<br>
◇ Fundamental of Thermal Technology<br>
◇ Marketing<br>
◇ International Trade Practice        <br>
◇ International Exchange and Settlements<br>
◇ Real Estate Operation and Evaluation<br>
◇ Distribution and Distribution Center<br>
◇ Construction Project Cost and Control<br>
◇ International Marketing<br>
◇ Mechanical Manufacturing Technology<br>
◇ Numerical Control Programming and Operation<br>
◇ Hydraulic and Pneumatic Transmission<br>
◇ Fundamental of Machine Manufacturing<br>
◇ Mechanical Drawing and Computer Drawing<br>
◇ C++ Programming<br>
◇ The Application Foundation of Computer Science<br>
◇ Data Structure<br>
◇ Software Engineering<br>
◇ SOL Server Network Database<br>
</p></div></div>
                    </div></div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="clearfix">
                <div class="col-lg-12 col-xs-12">
                  <h1>APPLICATION</h1>
                </div>
              </div>
              <div class="columns-info">
                <div class="bg-gray">
                  <div class="clearfix myschoolMedia media-item relative-position" data-module="MYSCHOOL">
                    <div class="description"><div>
                        <div class="col-lg-12 col-xs-12 disabled"><div class="media-item-description"><p>
                              <img class="img-responsive" src="img/niitapplication.png"><br>
                            </p>
      <ul class="navbar_is">
        <li class="school_btn tab-show" id="school_btn" style="width:100%">
          <a href="files/南京工业职业技术学院外籍学生申请表20170504.pdf" id="school_word">APPLY</a>
        </li>
      </ul>

                        </div></div>
                    </div></div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<link rel="stylesheet" type="text/css" href="./niit_files/bottom.css">
<footer class="clearfix">
  <div class="row">
    <div class="col-md-12">
      <span>
        See U in China <br>
        <br>
        © 2017.KanwoKanwo<br>
      </span>
    </div>
  </div>
</footer>

<script src="./niit_files/video.js"></script>
<script src="./niit_files/jquery.scrollTo.js"></script>
<script src="./niit_files/modernizr.custom.js"></script>
<script src="./niit_files/jquery.ajaxfileupload.js"></script>
<script src="./niit_files/xss.js"></script>
<script src="./niit_files/jquery-rebox.js"></script>
<script src="./niit_files/backbone-min.js"></script>
<script src="./niit_files/backbone.marionette.min.js"></script>
<script src="./niit_files/jquery-ui.min.js"></script>
<script src="./niit_files/jquery.sortable.js"></script>
<script src="./niit_files/video-popup.js"></script><div class="popup_video_div"><div class="popup-vertical-center"><div class="popup-horizontal-center"><div id="video-obj" class="video-js vjs-default-skin vjs-paused vjs-controls-enabled vjs-user-inactive" style="width: 100%; height: 100%;"><video class="vjs-tech" id="video-obj_html5_api" preload="none" poster="" data-setup="{}"><source src="" type="video/mp4"></video><div></div><div class="vjs-poster" tabindex="-1" style="display: none;"></div><div class="vjs-text-track-display"></div><div class="vjs-loading-spinner"></div><div class="vjs-big-play-button" role="button" aria-live="polite" tabindex="0" aria-label="play video"><span aria-hidden="true"></span></div><div class="vjs-control-bar"><div class="vjs-play-control vjs-control " role="button" aria-live="polite" tabindex="0"><div class="vjs-control-content"><span class="vjs-control-text">Play</span></div></div><div class="vjs-current-time vjs-time-controls vjs-control"><div class="vjs-current-time-display" aria-live="off"><span class="vjs-control-text">Current Time </span>0:00</div></div><div class="vjs-time-divider"><div><span>/</span></div></div><div class="vjs-duration vjs-time-controls vjs-control"><div class="vjs-duration-display" aria-live="off"><span class="vjs-control-text">Duration Time </span>0:00</div></div><div class="vjs-remaining-time vjs-time-controls vjs-control"><div class="vjs-remaining-time-display" aria-live="off"><span class="vjs-control-text">Remaining Time </span>-0:00</div></div><div class="vjs-progress-control vjs-control"><div role="slider" aria-valuenow="NaN" aria-valuemin="0" aria-valuemax="100" tabindex="0" class="vjs-progress-holder vjs-slider" aria-label="video progress bar" aria-valuetext="0:00"><div class="vjs-load-progress"><span class="vjs-control-text">Loaded: 0%</span></div><div class="vjs-play-progress" style="width: 0%;"><span class="vjs-control-text">Progress: 0%</span></div><div class="vjs-seek-handle vjs-slider-handle" aria-live="off" style="left: 0%;"><span class="vjs-control-text">00:00</span></div></div></div><div class="vjs-fullscreen-control vjs-control " role="button" aria-live="polite" tabindex="0"><div class="vjs-control-content"><span class="vjs-control-text">Fullscreen</span></div></div><div class="vjs-volume-control vjs-control"><div role="slider" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" tabindex="0" class="vjs-volume-bar vjs-slider" aria-label="volume level" aria-valuetext="100%"><div class="vjs-volume-level" style="width: 100%;"><span class="vjs-control-text"></span></div><div class="vjs-volume-handle vjs-slider-handle" style="left: 100%;"><span class="vjs-control-text">00:00</span></div></div></div><div class="vjs-mute-control vjs-control" role="button" aria-live="polite" tabindex="0"><div><span class="vjs-control-text">Mute</span></div></div><div class="vjs-subtitles-button vjs-menu-button vjs-control " role="button" aria-live="polite" tabindex="0" aria-haspopup="true" aria-label="Subtitles Menu" style="display: none;"><div class="vjs-control-content"><span class="vjs-control-text">Subtitles</span></div><div class="vjs-menu"><ul class="vjs-menu-content"><li class="vjs-menu-item vjs-selected" role="button" aria-live="polite" tabindex="0" aria-selected="true">subtitles off</li></ul></div></div><div class="vjs-captions-button vjs-menu-button vjs-control " role="button" aria-live="polite" tabindex="0" aria-haspopup="true" aria-label="Captions Menu" style="display: none;"><div class="vjs-control-content"><span class="vjs-control-text">Captions</span></div><div class="vjs-menu"><ul class="vjs-menu-content"><li class="vjs-menu-item vjs-selected" role="button" aria-live="polite" tabindex="0" aria-selected="true">captions off</li></ul></div></div><div class="vjs-chapters-button vjs-menu-button vjs-control " role="button" aria-live="polite" tabindex="0" aria-haspopup="true" aria-label="Chapters Menu" style="display: none;"><div class="vjs-control-content"><span class="vjs-control-text">Chapters</span></div><div class="vjs-menu"><ul class="vjs-menu-content"></ul><li class="vjs-menu-title">Chapters</li></div></div></div></div><button class="md-close"><i class="glyphicon glyphicon-remove"></i></button></div></div></div>
<script src="./niit_files/splitpageNew2.js"></script>

<script type="text/javascript" src="./niit_files/school-viewprofile.js"></script>
<script src="./niit_files/school.js"></script>
<script src="./niit_files/school.view.js"></script>


</body></html>
